/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Colors */
/* line 10, sass/main.scss */
.upgrade-box {
  text-align: center; }

/* line 14, sass/main.scss */
.upgrade-box.active {
  background-color: red; }

/* line 18, sass/main.scss */
.best-value {
  background: #ff5d1a;
  display: inline-block;
  height: 60px;
  width: 60px;
  -webkit-border-radius: 40px;
  -moz-border-radius: 40px;
  -ms-border-radius: 40px;
  -o-border-radius: 40px;
  border-radius: 40px;
  text-indent: -9999px;
  position: absolute;
  top: 110px;
  right: 400px; }

/* line 30, sass/main.scss */
.info {
  background: url("img/icon-info.png");
  cursor: help;
  display: inline-block;
  height: 14px;
  text-indent: -9999px;
  width: 14px; }

/* line 39, sass/main.scss */
.panel {
  position: absolute;
  z-index: 2;
  width: 300px;
  left: 200px; }

form.checkout .loaded {
  display: none;
}
