{% extends "layout.html" %}
{% block title %}Checkout{% endblock %}

{% block body %}
	<form action="/confirm" method="POST" id="checkout-form" class="checkout">
    <h1>Checkout</h1>

    <h2>Your Configuration</h2>

    {% include "packages/_package_selection.html" %}

    <hr>
    <p>
       SUM: {{sum_total}} {{ currency.symbol }}/m<br>
    	<div id="with-vat">
         VAT: {{vat}} {{ currency.symbol }}/m<br>
         TOTAL: {{total}} {{ currency.symbol }}/m<br>
    	</div>
    	<div id="without-vat" style="display:none">
         VAT: 0,00 {{ currency.symbol }}/m<br>
         TOTAL: {{sum_total}} {{ currency.symbol }}/m<br>
    	</div>

    </p>

    <h2>Billing details</h2>
        {% if not current_user.is_authenticated() %}        
            <button id="browserid-login" class="btn btn-primary">Sign in</button> using <a href="http://www.mozilla.org/en-US/persona/" target="_blank">mozilla persona</a>
        {% endif %}

        {% if current_user.is_authenticated() %}
        <div >
        	<div >
	        	<dl class="dl-horizontal">
		        	<dt>User Account</dt>
		        	<dd>{{current_user.email}} <a id="browserid-logout">change</a></dd>

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <dt><label for="domain" class="control-label">desired Domain</label></dt>
                                <dd><input id="domain" type="text" name="domain" class="form-control"></dd>
                            </div>
                        </div>
                        <div id="domain-test" class="col-md-4">
                            <h3 class="loading">loading</h3>
                            <div class="check-valid">
                                <div class="alert alert-success">
                                    <strong>Domain</strong> is available.
                                </div>
                            </div>
                            <div class="check-invalid">
                                <div class="alert alert-danger">
                                    <strong>Failure</strong>. Domain unavailable.
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-4">
                            <dt>Bill to</dt>
                            <dd>
                                <div class="form-group">
                                    <input type="radio" name="bill-selector" value="vat" checked="checked"> VAT Nr.<br>
        		        		    <input id="vatfield" type="text" name="vat-nr" disabled="disabled" class="form-control disabled">
                                </div>
                                <div class="form-group">
        		        	         <input type="radio" name="bill-selector" value="address" > Address<br>
        		        	         <textarea id="addressfield" name="address" disabled="disabled" class="form-control disabled"></textarea>
                                </div>
                            </dd>
                        </div>
                        <div id="vat-test" class="col-md-4">
                            <h3 class="loading">loading</h3>
                            <div class="check-valid">
                                <div class="alert alert-success">
                                    <strong>VAT</strong> is valid. Please check the Address field for details.
                                </div>
                            </div>
                            <div class="check-invalid">
                                <div class="alert alert-danger">
                                    <strong>Failure</strong> this VAT is not valid.
                                </div>
                            </div>
                        </div>
		        	</dd>
	        	</dl>
        	</div>
        </div>

        <div>
            <button type="submit" class="btn btn-primary" id="submit-button">Submit</button>
        </div>

        {% endif %}
        </form>
       
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script src="https://login.persona.org/include.js" type="text/javascript"></script>
        <script type="text/javascript">{{ auth_script|safe }}</script>

        <script type="text/javascript">
        $(function(){
        	$("input:radio").change(function(){
        		var selected = $("input:radio[name=bill-selector]:checked" ).val();
        		if (selected === "address") {
        			$("#addressfield").attr("disabled", false)
        			$("#addressfield").removeClass("disabled")

        			$("#vatfield").attr("disabled", "disabled")
        			$("#vatfield").addClass("disabled")
        		} else {
        			$("#vatfield").attr("disabled", false)
        			$("#vatfield").removeClass("disabled")

        			$("#addressfield").attr("disabled", "disabled")
        			$("#addressfield").addClass("disabled")
        		}	
        	}).change();

            function validate_form(form){
                var $this = $(form),
                    params = {},
                    valid = true;

                $.each($this.serializeArray(), function(idx, item){
                    params[item.name] = item.value;
                });

                $this.find(".has-error").removeClass("has-error");

                if (!$.trim(params["domain"])) {
                    $("#domain").parent().parent().addClass("has-error");
                    valid = false;
                }

                if (params["bill-selector"] === "vat") {
                    if ($("#vatfield").data("checker") !== "valid") {
                    
                        $("#vatfield").parent().addClass("has-error");
                        valid = false;
                    } 
                } else if (!$.trim(params["address"])){
                    $("#addressfield").parent().addClass("has-error");
                    valid = false;
                } else {
                    valid = false;
                }
                return valid;
            }

            $("#checkout-form").bind("submit", function(){
                return validate_form(this);
            });

	        $('#vatfield').bind('keyup', function(){
                var $this = $(this);
                check_remotely($this, "#vat-test", "/checkvat/", function(res){
                    $this.parent().removeClass("has-error").addClass("has-success");
                    $("#addressfield").val(res.name + "\n" + res.address);
                    $("#without-vat").fadeIn(1000);
                    $("#with-vat").hide();
                });
            });

            $('#domain').bind('keyup', function(){
                var $this = $(this);
                check_remotely($this, "#domain-test", "/checkdomain/", function(res){
                    $this.parent().parent().removeClass("has-error").addClass("has-success");
                });
            });


            function check_remotely(inp, target, url, success_cb){
			    var $this = $(inp),
			    	value = $.trim($this.val()),
			    	$target = $(target),
			    	delay = 1500; // 1.5 seconds delay after last input

			    //only continue if it actually changed
			    if (value === $this.data("last-tested")) {
			    	return;
			    }
			    $this.data("last-tested", value)
                $this.data("checker", false);

			    // only continue if there is some data in it
			    $target.removeClass("loading").removeClass("check-valid").removeClass("check-invalid");
			    if (!value){
			    	return
			    }

			    $target.addClass("loading");

			    clearTimeout($this.data('timer'));
			    $this.data('timer', setTimeout(function(){
			        $this.removeData('timer');
			        $.getJSON(url + $this.val(), function(res) {
			        		$target.removeClass("loading");

			        		if (!res.valid){
			        			$target.addClass("check-invalid");
			        		} else {
                                $this.data("checker", "valid");
                                $this.parent().removeClass("has-error").addClass("has-success")
                                $target.addClass("check-valid");
                                if (success_cb){
                                    success_cb(res);
                                }
			        		}
			        });
			    }, delay));
            }
        });
        </script>
{% endblock %}
