{% extends "layout.html" %}
{% block title %}Checkout{% endblock %}

{% block body %}
    <h1>Please confirm</h1>

    <h2>Address</h2>

    <p>{{order.user.email}}</p>

    <pre>{{order.address}}</pre>

    {% if order.vat_addr %}
        <strong>VAT</strong>: {{order.vat_addr}}
    {% endif %}

    <h2>Your bill</h2>

    {% include "packages/_package_selection.html" %}

    <hr>
    <p>
    	SUM: {{sum_total}} $/m<br>
    	{% if order.vat %}
	       VAT: {{order.vat}} $/m<br>
        {% endif %}
	    TOTAL: {{order.total}} $/m<br>
    	
    </p>

    <h2>Billing details</h2>
        {% if not current_user.is_authenticated() %}        
            <button id="browserid-login" class="btn btn-primary">Sign in</button> using <a href="http://www.mozilla.org/en-US/persona/" target="_blank">mozilla persona</a>
        {% endif %}
{% endblock %}
