{% extends "layout.html" %}
{% block title %}Checkout{% endblock %}

{% block body %}
    <h1>Please confirm</h1>

    <h2>Address</h2>

    <p>{{order.user.email}}</p>

    <pre>{{order.address}}</pre>

    {% if order.vat_addr %}
        <strong>VAT</strong>: {{order.vat_addr}}
    {% endif %}

    <h2>Your bill</h2>

    {% include "packages/_package_selection.html" %}

    <hr>
    <p>
      SUM: {{ "%0.2f" % sum_total|float }} {{ currency.symbol }}/m<br>
    	{% if order.vat %}
	       VAT: {{ "%0.2f" % order.vat|float }} {{ currency.symbol }}/m<br>
        {% endif %}
	    TOTAL: {{ "%0.2f" % order.total|float }} {{ currency.symbol }}/m<br>
    </p>

    <h2>For domain</h2>
    <p>{{order.domain}}</p>

    <h2>Confirm</h2>
    <p>
        <form method="POST" action="/payment">
            <input type="hidden" name="order_id" value="{{order.id}}" />
            <button type="submit" class="btn btn-primary" href="">Confirm order and pay</button> using XXXXX
        </form>
    </p>
{% endblock %}
