{% extends "layout.html" %}
{% block title %}Accepted{% endblock %}

{% block body %}
    <h1>Thank you for your order</h1>
    <h3>Your order has been confirmed</h3>

    <h2>Address</h2>

    <p>{{order.user.email}}</p>

    <pre>{{order.address}}</pre>

    {% if order.vat_addr %}
        <strong>VAT</strong>: {{order.vat_addr}}
    {% endif %}

    <h2>Your bill</h2>

    {% include "packages/_package_selection.html" %}

    <hr>
    <p>
      SUM: {{sum_total}} {{ currency.symbol }}/m<br>
    	{% if order.vat %}
	       VAT: {{order.vat}} {{ currency.symbol }}/m<br>
        {% endif %}
	    TOTAL: {{order.total}} {{ currency.symbol }}/m<br>
    </p>

    <h2>For domain</h2>
    <p>{{order.domain}}</p>

{% endblock %}
