@import "compass/css3";
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Colors */
$hero: #FF5D1A;


.upgrade-box {
	text-align: center;
}

.upgrade-box.active {
	background-color: red;
}

.best-value {
   background: $hero;
   display: inline-block;
   height: 60px;
   width: 60px;
   @include border-radius(40px);
   text-indent: -9999px;
   position: absolute;
   top: 110px;
   right: 400px;
}

.info {
   background: url('img/icon-info.png');
   cursor: help;
   display: inline-block;
   height: 14px;
   text-indent: -9999px;
   width: 14px;
}

.panel {
   position: absolute;
   z-index: 2;
   width: 300px;
   left: 200px;
}
