@import "compass/css3";
/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* Colors */
$hero: #FF5D1A;

/* Fonts */
$font-size-highlight: 22px;
$font-size-price: 18px;

table.packages {
   position: relative;
   .best-value {
      background: $hero;
      display: inline-block;
      height: 60px;
      width: 60px;
      @include border-radius(40px);
      text-transform: uppercase;
      text-align: center;
      @include rotate(-30deg);
      padding: 7px 0 0;
      color: #fff;
      position: absolute;
      top: -2em;
   }
   .info {
      background: url('img/icon-info.png');
      cursor: help;
      display: inline-block;
      height: 14px;
      text-indent: -9999px;
      width: 14px;
   }
   .panel {
      position: absolute;
      z-index: 2;
      width: 300px;
      left: 200px;
   }
}

form.checkout .loaded {
   display: none;
}

.upgrades ul { list-style: none; }
